<header class="header">
  <div class="header__logo">
    <img class="logo__icon" src="/images/logo.png" alt="SkibidiFlix logo">
    <a class="link" [routerLink]="['/home']"><h1 class="logo__title">SkibidiSeat</h1></a>
  </div>

  <form class="header__search" (ngSubmit)="buscarFilmes()">
    <input
      class="search__input"
      type="search"
      name="searchTerm"
      placeholder="Buscar"
      [(ngModel)]="searchTerm"
      (ngModelChange)="atualizarSugestoes()"
      (focus)="abrirSugestoes()"
      (blur)="fecharSugestoes()"
      autocomplete="off">
    <img class="search__icon" src="/images/search.png" alt="Lupa de busca">

    <div *ngIf="isSearchOpen" class="search__dropdown">
      <button
        *ngFor="let movie of filteredMovies"
        type="button"
        class="search__option"
        (mousedown)="irParaFilme(movie)">
        {{ movie.nm_filme }}
      </button>

      <p *ngIf="filteredMovies.length === 0" class="search__empty">
        Nenhum filme encontrado
      </p>
    </div>
  </form>

  <nav class="header__nav">
    <a class="nav__item" [routerLink]="['/my-orders']">Meus Pedidos</a>
    <a class="nav__item" [routerLink]="['/cart']">Carrinho</a>
    <a class="nav__item" [routerLink]="['/login']">Conta</a>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer"></footer>
