<section
  class="featured"
  *ngIf="featuredMovie$ | async as featuredMovie">

    <a
      [routerLink]="['/filme']"
      [queryParams]="{ id: featuredMovie.id_filme }">

        <div class="featured__container">

            <img
              [src]="'/images/banners/' + featuredMovie.im_path"
              [alt]="featuredMovie.nm_filme"
              class="featured__image">

        </div>

    </a>

</section>

<section class="catalog">
    <h2 class="catalog__title">EM ALTA</h2>
    <div class="catalog__grid" *ngIf="movies$ | async as movies">
        <p *ngIf="movies.length === 0" class="catalog__empty">Nenhum filme encontrado.</p>
        <div *ngFor="let movie of movies;">
            <a [routerLink]="['/filme']" [queryParams]="{ id: movie.id_filme }">
                <div class="poster__wrapper">
                    <img [src]="'/images/capas/' + movie.im_path" alt="{{ movie.nm_filme }}" class="catalog__poster">
                </div>
            </a>
        </div>
    </div>
</section>

<section class="catalog">
    <h2 class="catalog__title">EM BREVE</h2>
    <div class="catalog__grid" *ngIf="movies$ | async as movies">
        <p *ngIf="movies.length === 0" class="catalog__empty">Nenhum filme encontrado.</p>
        <div *ngFor="let movie of movies;">
            <a href="/filme">
                <div class="poster__wrapper">
                    <img [src]="'/images/capas/' + movie.im_path" alt="{{ movie.nm_filme }}" class="catalog__poster">
                </div>
            </a>
        </div>
    </div>
</section>
