<div class="login">
    <h1 class="login__title">LOGIN</h1>

    <div class="login__user">
        <label class="user__lable">E-MAIL</label>
        <input class="user__input" type="text" [(ngModel)]="email" name="email">
    </div>

    <div class="login__password">
        <label class="password__lable">SENHA</label>
        <input class="password__input" type="password" [(ngModel)]="password">
    </div>

    <p class="login__sign-in-text">NÃO POSSUI UMA CONTA? <a class="login__sign-in-button" href="/register">CADASTRE-SE</a></p>
        
    <button class="login__button" (click)="login()">ENTRAR</button>
</div>