<div class="login">
    <h1 class="login__title">LOGIN</h1>
        
    <div class="login__user">
        <label class="user__lable">USUÁRIO</label>
        <input class="user__input" type="text">
    </div>

    <div class="login__password">
        <label class="password__lable">SENHA</label>
        <input class="password__input" type="password">
    </div>

    <p class="login__sign-in-text">NÃO POSSUI UMA CONTA? <a class="login__sign-in-button" href="#">CADASTRE-SE.</a></p>
        
    <a class="login__button" href="/profile">ENTRAR</a>
</div>